<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <meta charset="UTF-8">
  </head>
  <body>
      
    <div>Contact Novel</div>
    <ul>
        <li><a href="/details/<%= detail.creator %>">Index</a></li>
        <li><a href="/details/new/<%= detail.creator %>">New</a></li>
    </ul>

    <div class="contact contact-index">
      <h2>detailIndex</h2>
      <%= detail.creator %>
      <ul>
        
          <li>
            <%= detail.name %></a> <!-- 1 -->/
            <%= detail.creator %></a> <!-- 1 -->
          </li>
          <li>
            <%= detail.detail %>
          </li>
       
      </ul>
      
    </div>
  </body>
</html>